
interfaces/obj/Debug/netstandard2.0/interfaces.AssemblyInfo.cs
interfaces/obj/Debug/netstandard2.0/interfaces.csproj.FileListAbsolute.txt
interfaces/obj/interfaces.csproj.nuget.g.props
interfaces/obj/interfaces.csproj.nuget.g.targets
interfaces/obj/project.assets.json
service/bin/Debug/netcoreapp2.0/service.deps.json
service/bin/Debug/netcoreapp2.0/service.runtimeconfig.dev.json
service/bin/Debug/netcoreapp2.0/service.runtimeconfig.json
service/obj/Debug/netcoreapp2.0/service.AssemblyInfo.cs
service/obj/Debug/netcoreapp2.0/service.csproj.CopyComplete
service/obj/Debug/netcoreapp2.0/service.csproj.FileListAbsolute.txt
service/obj/project.assets.json
service/obj/service.csproj.EntityFrameworkCore.targets
service/obj/service.csproj.nuget.g.props
service/obj/service.csproj.nuget.g.targets
interfaces/bin/Debug/netstandard2.0/interfaces.deps.json
interfaces/bin/Debug/netstandard2.0/interfaces.runtimeconfig.dev.json
interfaces/bin/Debug/netstandard2.0/interfaces.runtimeconfig.json
